{% extends "base.html" %}

{% load static %}

{% block content %}
<body>	
  <div class="container">
  <div class="row first-row">
    <div class="col-sm-5">
      <div class="leftgallery">
        <h1 class="judulsemua"> Gallery </h1>
          <ul class="nav tengah">
            <li class="nav-item">
              <a class="nav-link" href="/home/">Home</a></li>
            <li class="nav-item">
              <a class="nav-link" href="/about/">About</a></li>
            <li class="nav-item">
            <a class="nav-link" href="/resume/">Resume</a></li>
            <li class="nav-item">
              <a class="nav-link" href="/contact/">Contact</a></li>
            <li class="nav-item">
              <a class="nav-link" href="/gallery/">Gallery</a></li>
            <li class="nav-item">
              <a class="nav-link" href="/schedule/">Schedules</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-7">
        <ul>
          <a target="_blank" href="Shinta2.jpg">
            <img class ="gambargallery gambar111" src="{% static 'assets/Shinta2.jpg' %}" alt="Picture 1"></a>
          <a target="_blank" href="Shinta.jpg">
            <img class ="gambargallery gambar222" src="{% static 'assets/Shinta.jpg' %}" alt="Picture 2" width="200" height="200"></a>
          <a target="_blank" href="Shinta3.jpg">
            <img class="gambargallery gambar333" src="{% static 'assets/Shinta3.jpg' %}" alt="Picture 3" width="200" height="200"></a>  
        </ul>
        <ul> 
          <a target="_blank" href="Shinta4.jpg">
            <img class ="gambargallery gambar444" src="{% static 'assets/Shinta4.jpg' %}" alt="Picture 4" width="200" height="200"></a>
          <a target="_blank" href="Shinta6.jpg">
            <img class ="gambargallery gambar555" src="{% static 'assets/Shinta6.jpg' %}" alt="Picture 5" width="200" height="200"></a>
          <a target="_blank" href="Shinta7.jpg">
            <img class ="gambargallery gambar666" src="{% static 'assets/Shinta7.jpg' %}" alt="Picture 6" width="200" height="200"></a>
        </ul>
    </div>
  </div>
</div>

{% endblock %}