{% extends "base.html" %}

{% load static %}

{% block content %}
<div style="background-image: url( {% static 'assets/index.jpg' %}); background-size : contain; background-attachment: fixed; background-size : cover; height:100%;width:100%">
	<div class="container">
		<div class="row">
			<div class="col-sm-6"></div>
			<div class="col-sm-6">
				<ul class="nav judul">
  					<li class="nav-item">
    					<a class="nav-link" href="/home/">Home</a></li>
  					<li class="nav-item">
    					<a class="nav-link" href="/about/">About</a></li>
  					<li class="nav-item">
    					<a class="nav-link" href="/resume/">Resume</a></li>
  					<li class="nav-item">
    					<a class="nav-link" href="/contact/">Contact</a></li>
    				<li class="nav-item">
	    				<a class="nav-link" href="/gallery/">Gallery</a></li>
	    			<li class="nav-item">
	    				<a class="nav-link" href="/schedule/">Schedule</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col col-md-6"></div>
			<div class="col col-md-6">
				<h1 class="judulhomepage"> Hello, <br> I'm Shinta </h1>
			</div>
		</div>
		<div class="row">
			
				<div class="col">
					<a target="_blank" href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRttWQXGjclPJnDJmbBxNZvTlPkMKhlJhDXTHqzffxzptXtWGLhNPfDMpprMWlKXBWGzDSl">
						<img class="gambar1 gambarhomepage" src="{% static 'assets/Email.png' %}"></a></div>
				<div class="col">
					<a target="_blank" href="https://api.whatsapp.com/send?phone=6285718801232&text=Shintas%20Whatsapp">
						<img class="gambar2 gambarhomepage" src= "{% static 'assets/whatsapp.png' %}"></a></div>
				<div class="col">
					<a target="_blank" href="https://www.instagram.com/shi.nta/">
						<img class="gambar3 gambarhomepage" src="{% static 'assets/ig2.png' %}"></a></div>
				<div class="col">
					<a target="_blank" href="https://www.linkedin.com/feed/">
						<img class="gambar4 gambarhomepage" src=" {% static 'assets/Linkedin.png' %}"></a></div>
				<div class="col">
					<a target="_blank" href="https://www.facebook.com/profile.php?id=100024804240490">
						<img class="gambar5 gambarhomepage" src=" {% static 'assets/fb.jpg' %}"></a></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}